{% extends 'trops/base.html' %}
{% block content %}
<div class="search-bar w3layouts-newsletter">
   <h3 class="sear-head editContent">Поиск фильма</h3>
		<form role="search" method="get" id="searchform" action="{% url 'see_q' %}" class="d-flex editContent">
			<input type="search" name="q" placeholder="Поиск" class="form-control" required>
</form>
</div>

{% for film in movies %}
<div class="fmain">
    <div class="fcols fx-row"><div class="fleft fx-1 fx-row">
        <div class="fleft-desc fx-1">
            <h1>{{ film.name }}</h1>
            <img itemprop="image" loading="lazy" src="{{film.poster}}" alt="{{ film.name }} – постер фильма" title="{{ film.name }}"  width=" 300" height=" 400">
            <div class="fdesc clearfix" itemprop="description"> {{ film.description }} </div>
            <div class="flists fx-row">
                <ul class="flist">
                <li><span>Рейтинг:</span>
                    <span itemprop="countryOfOrigin">{{film.rating}}</span>
                </li>
                <li><span>Год выхода:</span>
                    <span itemprop="countryOfOrigin">{{film.year}}</span>
                </li>
                <li><span>Страна:</span>
                    {%for data in film.countries%}
                    <span itemprop="countryOfOrigin">{{data}}</span>
                    {%endfor%}
                </li>
                <li>
                    <span>Жанр:</span>
                    <span itemprop="genre">
                        {% for data in film.genres %}
                        {{ data }}
                        {% endfor %}
                    </span>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}

    {% endblock %}
</div>